@media screen and (max-width: 1220px) {
  .home-main {
    padding-bottom: 250px;
    &__title {
      font-size: 4.5rem;
      line-height: 1;
      min-height: auto;
    }
  }

  .advantages {
    &-decorative {
      &__phone {
        & img {
          position: relative;
          left: -260px;
          top: 0;
        }
      }
      &__blur-star {
        right: -250px;
        & svg {
          width: 570px;
          height: 570px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home-main {
    padding-bottom: 60px;
  }

  .main {
    &-decorative {
      &__phones {
        position: relative;
        z-index: 1;
        top: 30px;
        right: -10px;
      }
      &__blur {
        &-star {
          top: 116px;
          right: 20px;
          & svg {
            filter: blur(100px);
            width: 521px;
            height: 529px;
          }
        }
      }
    }
  }

  .advantages {
    &-decorative {
      &__phone {
        & img {
          position: relative;
          left: 0;
          top: 0;
        }
      }
      &__wrapper {
        max-height: 570px;
      }
      &__blur-star {
        top: 1200px;
        right: -200px;
      }
    }
    &-list {
      &__item {
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-main {
    background: image('m-main-starry-sky.png') no-repeat 50%;
    &__sl {
      &-logo {
        margin-top: 34px;
        & img {
          width: 50px;
          height: 50px;
        }
      }
    }
    &__title {
      margin-top: 14px;
    }
    &__download {
      margin-top: 23px;
    }
    &__note {
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }

  .main {
    &-decorative {
      &__blur {
        &-star {
          top: 116px;
          right: 50px;
          & svg {
            width: 321px;
            height: 329px;
          }
        }
      }
    }
  }

  .download {
    &-block {
      justify-content: space-between;
      &__link {
        border-radius: 8px;
        width: 50%;
        margin: 0;
        padding: .9rem 2.7rem;
        display: grid;
        place-items: center;
        & img {
          width: 106px;
          height: 25px;
        }
        &[data-client="Google Play"] {
          margin-right: 4px;
        }
        &[data-client="App Store"] {
          margin-left: 4px;
        }
      }
    }
  }

  .advantages {
    padding-top: 82px;
    &-list {
      &__item {
        padding: 20px 16px 20px 62px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      &__note {
        max-width: 300px;
        &::before {
          width: 30px;
          height: 30px;
          top: 0;
          right: calc(100% + 16px);
          border-radius: 8px;
        }
        &:nth-child(1n)::before {
          background-size: 18px;
        }
      }
      &__title {
        font-size: 2rem;
        line-height: 1;
      }
      &__text {
        margin-top: 9px;
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }
    &-decorative {
      &__phone {
        & img {
          left: calc(15% - 340px);
        }
      }
      &__blur-star {
        top: 1030px;
        right: -300px;
      }
    }
    &-note {
      &__text {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }
  }

  .reviews {
    padding-top: 55px;
    padding-bottom: 26px;
    &__title {
      margin-bottom: 33px;
    }
    &-list {
      &__item {
        min-height: 400px;
        min-width: 295px;
        padding: 27px 25px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    &-logo {
      &__link {
        & svg {
          width: 108px;
          height: 30px;
        }
      }
    }
  }

  .home-main {
    padding-top: 70px;
    padding-bottom: 0;
  }

  .main {
    &-decorative {
      &__blur {
        &-star {
          top: 180px;
          right: 50px;
          & svg {
            width: 230px;
            height: 230px;
            filter: blur(80px);
          }
        }
      }
    }
  }

  .advantages {
    padding-bottom: 42px;
    &-decorative {
      &__phone {
        & img {
          left: -210px;
          top: -50px;
        }
      }
      &__blur-star {
        top: 1330px;
        right: -240px;
      }
    }
  }

  .reviews {
    &-list {
      &__text {
        font-size: 1.6rem;
        line-height: 1.25;
      }
      &__item {
        &-title {
          color: rgba($white, .9);
          font-size: 1.6rem;
          line-height: 1.25;
          font-weight: 400;
        }
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .main-decorative {
    &__blur {
      &-star {
        top: 100px;
        right: -10px;
      }
    }
  }
}