// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.underline-link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background: $white;
  }
}

.o-hidden {
  overflow: hidden;
}