.download {
  &-block {
    @include flex();
    &__link {
      border-radius: 10px;
      background: $white;
      padding: 1.3rem 2.5rem;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}