.partner-app {
  padding-top: 81px;
  padding-bottom: 109px;
  &__title {
    margin-bottom: 65px;
  }
  &__app {
    @include flex();
    margin-bottom: 17px;
  }
  &__note {
    font-size: 2.4rem;
    line-height: 1.25;
    margin: 0;
  }
}