.header {
	position: absolute;
	min-height: 100px;
	width: 100%;
	z-index: 1;
	@include flex(row, center);
	&-navigation {
		margin-top: 34px;
		&__list {
			@include flex(row, center, space-between);
		}
		&__item[active] a {
			color: rgba($white, .3);
		}
	}
	&-logo {
		height: 100%;
		@include flex(row, center);
		&__link {
			@include flex();
		}
	}
}

@media screen and (max-width: 576px) {
	.header {
		min-height: 70px;
	}
}