// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex($flex-direction: row, $align-items: flex-start, $justify-content: flex-start, $flex-wrap: no-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap
}

@mixin font() {
	font-family: $font;
}

@mixin full_font($font: 'Arial', $fz: 1.8rem, $lh: 1.39, $fw: 400) {
  font-family: $font;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}